:root {
  --dark-color: #333;
  --light-color: #fff;
}
/* Global Tags */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
hr {
  margin: 10px auto;
}
i{
  font-size: 22px;
}
/* ########### */

.mainHeader{
  margin: 30px auto;
}


/* Todos Container */
.todos {
  border: 2px solid var(--dark-color);
  border-radius: 5px;
  padding: 20px 0;
  width: 50%;
  margin: 10px auto;
}

.todosHead span {
  opacity: 0.5;
  padding: 3px;
  font-size: 22px;
  border-radius: 5px;
  border: 2px solid var(--dark-color);
}

/* Todo li */
.eachTodo {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid;
  text-align: left;
  list-style: none;
  width: 80%;
  margin: 10px auto;
}
.todoTime {
  opacity: 0.4;
}

.todoNum {
  display: block;
  opacity: 0.7;
}

.todoHeads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.todoComplete {
  background: none;
  border: none;
  outline: none;
  display: block;
  margin: 5px 0;
  padding: 5px;
  color: green;
  opacity: 0.7;
  cursor: pointer;
}
.todoHeads:hover .todoComplete {
  opacity: 1;
}

.deleteBtn {
  background: none;
  border: none;
  outline: none;
  display: block;
  margin: 5px 0;
  padding: 5px;
  color: red;
  opacity: 0.7;
  cursor: pointer;
}
.deleteBtn:hover {
  opacity: 1;
}

/* .darkMode {
  border-color: var(--light-color);
  background-color: var(--dark-color);
  color: var(--light-color);
}

.lightMode {
  border-color: var(--dark-color);
  background-color: var(--light-color);
  color: var(--dark-color);
} */

/* Add Todos */
.addTodo {
  padding: 20px 10px;
  border: 2px solid var(--dark-color);
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
}

.addTodo > button,
.addTodo > input,
.addTodo > textarea {
  padding: 10px;
  border: 2px solid var(--dark-color);
  width: 80%;
  margin: 1px auto;
  display: block;
  outline: none;
}
.addTodo input {
  border-radius: 5px 5px 0 0;
}
.addTodo textarea{
  max-width: 80%;
  min-width: 80%;
}
.addTodo button {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 100%;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.addTodo h1 {
  margin: 5px auto;
}

/* Todo Statuses */
.error {
  opacity: 0.8;
  color: red;
}
.success {
  opacity: 0.8;
  color: green;
}
/* ############# */
